name: Changelog CI

on:
  pull_request:
    types: [opened]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run Changelog CI
        uses: saadmk11/changelog-ci@v1.2.0
        with:
          changelog_filename: CHANGELOG.md
          committer_username: 'github-action'
          committer_email: 'github-action@github.com'
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
